.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
    background-color: #282828;
    padding: 10px;
}

.footer__left {
    display: flex;
    flex: 0.3;
    align-items: center;
    color: #fff;
    width: 300px;
}

.footer__center {
    flex: 0.4;
    padding: 0 100px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
}

.footer__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    flex: 0.3;
}

.footer__albumLogo {
    height: 50px;
    width: 50px;
    object-fit: contain;
    margin-right: 20px;
}

.footer__green {
    color: #1ed15e;
}

.footer__songInfo > h4 {
    margin-bottom: 5px;
}

.footer__songInfo > p {
    font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__right * .MuiSlider-root {
    color: green;
}